.Date{
    height: 100px;
    width: 100px;
    background-color: tomato;
    font-size: larger;
    color: whitesmoke;
    border: 10px solid yellowgreen;
    text-align: center;
    border-radius: 5%;
    box-shadow:  0 0 30px yellowgreen;
    text-shadow: 0 0 30px rgba(0,0,0,0.2);
    position: relative;
    left: 5vh;
    top: 5vh;
}

body{
    background-color: grey;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 90vw;
}
